<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Secret Page</title>
    </head>
    <body>
        <h1>Welcome, <code data-th-text="${user.username}"></code>!</h1>
        <h2>This is the Secret Page.</h2>
        <hr><br>
        <img src="/images/cat.jpg" alt="Secret Cat">
        <br><br>
        <form method="GET" action="/">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>